<div class="text-inner component-inner" role="region" aria-label="{{_globals._components._textWithCode.ariaRegion}}">
    {{> component this}}
    <button class="btn-text" data-clipboard-target="code">
        Copy to clipboard
    </button>
</div>
